<% if @post.comment != nil %>
  <p>
    <%= comment.comment %> <br />
    <% if comment.user != nil %>
      <%= comment.user.first_name %> <br />
      <%= comment.format_date %>
    <% end %>
  </p>
<% end%>
