<div class="header">
  <h1>welcome to that girl blogs</h1>
</div>

<div id="body_content">

  <div class="post_list">

    <% @posts.each do | post | %>

    <h3>  <%= link_to post.title, "posts/#{post.id}" %> </h3>

      <p><%= post.blog_post %></p>

    <% end %>
  </div>

</div>
