<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <% @posts.each do |blog| %>
        <%= link_to blog.title, "posts/#{blog.id}", class:"post" %>
        <p class="post"><%= blog.blog_post %></p>
      <% end %>
    </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">

        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">

        </div>
      </div>
    </div>

  </div>
</div>
