<div class="container-fluid">
  <div class="single-column-page">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
       <h1>Add a New Post</h1>
      <%= render "form" %>
      </div>
    </div>
  </div>
</div>
