
<%= render @post %>

<div>

  <h3>comments</h3>

  <%= render "comments/new_comment_form" %>

  <div class="comment_list">
    <% if @post.comments != nill %>
      <%= render @post.comments %>
    <% end %>
  </div>

</div>
