@import url(https://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:400,300,300italic,400italic,600,600italic,700);

$fancy-stack: 'Rokkitt', Georgia, "Times New Roman", Times, serif;

$login-stack: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;

$black: #011627; //rgba(1, 22, 39, 100) //blackish
$white: #fdfffc; //rgba(253, 255, 252, 100)//white
$blue: #2ec4b6; //rgba(46, 196, 182, 100)//blue
$red: #e71d36; //rgba(231, 29, 54, 100)//red
$gold: #ff9f1c; //rgba(255, 159, 28, 100)//gold
